#main-container {
        background-color: rgb(245, 245, 245);
        max-width: 450px; 
}

#cabecalho {
	background-color: rgb(255, 255, 255);
        border-bottom: 1px solid #dddddd;
}
#cabecalho #span-health {
        font-family: "Knewave";
        font-size: 32px;
        font-weight: 300;
        color: #0275d8;
        margin-left: 20px;
        position: relative;
        top: 18px;
}
#span-care {
        color: #013059 !important;
        margin: 0 !important;
}
#icon-user {
        font-size: 60px;
        font-weight: 100;
        padding: 10px;
        margin-right: 10px;
}
.meu-card {
        width: 96%;
        margin: auto;
        margin-top: 30px;
        border-radius: 10px;
        border: 1px solid #dddddd;
        background-color: white;
}
.margin-left-card {
        margin-left: 7%;
}
.img-card {
        margin-top: 20px;
}
.titulo-card {
        width: 90%;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
}   
.icon-plus {
        position: relative;
        left: 2px;
        font-size: 14px;
}
.divisor {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 1px;
        border-top: 1px solid rgb(219, 219, 219);
}
.icon-video {
        position: relative;
        top: 1px;
        left: -2px;
}

.precos-itens-none {
        margin-top: 10px;
        max-height: 0px;
        overflow: hidden;
        transition: 0.6s;
}
.precos-itens-ativo {
        margin-top: 10px;
        overflow: hidden;
        max-height: 150px;
	transition: 0.6s ease-in-out; 
}

.lista-precos {
	width: 92%;
}